@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: pizza;
    src: url(new_pizza/New\ Pizza.ttf);


}

@font-face {
    font-family: pizza1;
    src: url(pizza/Pizza.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1616410731303-6affae095a0a?q=80&w=1402&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

}

header {
    text-align: center;
    background-color: #dd761c;
    font-family: pizza;

}

.ft {
    display: flex;
    flex-direction: row;
}

.ft img {
    margin-left: 10%;
}

img {
    margin-top: 5%;
    /* margin-left: 5%; */
}

h1 {

    margin-right: 15%;
    color: beige;
    font-size: 220%;
    padding: 5%;
    font-weight: -200px;
    padding-top: 7%;


}

h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    margin-right: 7%;
    color: #8f4602;


}

p {
    text-align: center;
    font-size: 130%;
    margin-top: 5%;
    color: #8f4602;
}

.piz {
    display: flex;
    flex-direction: row;
    margin-right: 15%;
    gap: 1em;


}

.piz img {
    margin-top: 10%;
    border-radius: 5%;
    width: 200px;
}

table {
    margin-top: 10%;
    font-size: 100%;
    margin-left: 14%;
    background-color: #dd761c;
    padding: 5%;
    border-radius: 7%;
    color: beige;
}

form {
    margin-left: 7%;
    margin-top: 20px;
    font-size: 25px;
    background-color: #ff9b43;
    border-radius: 7%;
    margin-right: 7%;
    color: beige;
    padding-left: 10%;
    padding-top: 7%;
    padding: 20;
}

input {

    border-radius: 10px;
    padding: 8px;
    border: none;





}
.bt{
    margin-left: 45%;
    margin-top: 7%;

}

.car {
    margin-left: 9%;
    font-size: 110%;
}

h4 {
    font-family: pizza1;
    font-size: 55px;
    margin-top: 5%;
    color: #8f4602;
    margin-left: 4%;
}

.sub {
    margin-left: 35%;
    margin-top: 5%;
}